.navbar{
  border: none;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-nav>.nav-item>a>i{
    font-size: 18px;
  }
  .mainbar>.nav-item>.active>a,
  .mainbar>.nav-item>.active>a:focus,
  .mainbar>.nav-item>.active>a:hover {
    background-color: transparent;
  }
  .mainbar>.nav-item:hover {
    a>.nav-short {
      transition: 100ms;
      opacity: 0;
    }
    a>.nav-title {
      transition: 100ms;
      opacity: 1;
      font-size: 14px;
      font-weight: 600;
      background-color:rgba(34,34,34,1);
      padding:0 5px;
      z-index: 1;
    }
  }
  .mainbar:hover {
    .nav-item>a {
      transition: 100ms;
      padding-top: 5px;
      padding-bottom: 25px;
    }
    .nav-item>a>.nav-short {
      transition: 100ms;
      opacity: 1;
    }
    .nav-item>a>.nav-short {
      transition: 100ms;
      opacity: 1;
    }
  }

  .navbar-nav .dropdown-toggle::after{
    display: none;
  }
  .nav-item {
    position: relative;
  }
  .logo-header{
    width: 65px;
    margin-top: 10px;
  }
  .nav-link{
    width: 50px;
    text-align: center;
    padding: 15px;
  }
  .nav-avatar>a>img{
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    margin: 6px;
  }
  .nav-title, .nav-short{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    font-size: 12px;
    opacity: 0;
  }
  .dropdown-menu-center {
    right: auto;
    left: 50% !important;
    -webkit-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
  }
  .dropdown-menu {
    position: absolute;
  }
}
// fix width of fontawesome by 16px
.fa{
  text-align: center;
  width: 16px !important;
}
.modal-header {
  border-bottom: 0 !important;
}
.modal-footer{
  border-top: 0 !important;
}